!!!
%html
  %head
    %title MountainTrackr
    = stylesheet_link_tag    'application', media: 'all'
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body.grey.darken-4.white-text
    %p.notice= notice
    %p.alert= alert
    %nav.blue.darken-4
      .nav-wrapper
        %a.brand-logo{:href => "/"} Mountain Trackr
        %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
          %i.material-icons menu
        %ul.right.hide-on-med-and-down
          %li
            = link_to "dashboard", root_path
          %li
            = link_to "profile", user_profile_path
          %li
            = link_to "Log out", destroy_user_session_path, method: :delete, data: {confirm: " are you sure you want to log out?"}
        %ul#mobile-demo.side-nav
          %li
            = link_to "dashboard", root_path
          %li
            = link_to "profile", user_profile_path
          %li
            = link_to "Log out", destroy_user_session_path, method: :delete, data: {confirm: " are you sure you want to log out?"}
    %br
    = yield